---
layout: default
---
{%if page.mathjax != false %}
<!-- <script type="text/javascript" id="MathJax-script" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.1/es5/tex-chtml-full.min.js">
</script> -->

<link rel="stylesheet" href="{{ "assets/css/prism.css" | prepend: site.baseurl }}">
<script src="{{ "assets/js/prism.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" id="MathJax-script" async src="{{ "assets/js/tex-chtml-full.min.js" | prepend: site.baseurl }}"></script>
<script>MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']]
    },
    svg: {
      fontCache: 'global'
    }
  };</script>
  <!-- <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
        }
    });
</script> -->
  {%endif%}
<!-- {%if page.mathjax != false %}
<script 
    type="text/javascript" 
    async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
    onload="MathJax.Hub.Config({tex2jax: {skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],inlineMath: [['$','$']]}});"
</script>
{%endif%} -->


<section id="front-wedge" style="height: 0px;"></section>
{% if page.toc != false %}
<div class="sidebar_catelog sticky-top"></div>
{% endif %}
<section class="js-fadein main-body">

    <div class="home-message__ttl" style="text-align: left;">
        <h1>
            {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}

            {% if page.status%}<sup>[{{page.status}}]</sup>{%endif%}
            <a class="edit-button" href="{{site.repo_url}}/blob/master/{{page.path}}" title="Edit on GitHub"><i
                    class="fa fa-edit"></i></a>
            <!-- <a class="download tbutton" href="{{site.url}}/{{page.path}}">Download</a> -->
        </h1>
        <h4 class="subheading">{{ page.subtitle }}</h4>

        {% if page.last-modify %}
        <span class="meta">Last modified by <i>{% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif
                %}</i> on {{page.last-modify | date: "%B %-d, %Y"}}

            {% else %}
            <span class="meta">Posted by <i>{% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif
                    %}</i> on {{ page.date | date: "%B %-d, %Y" }}

                {% endif %}


            </span><i class="fa fa-tags"></i>

            {% for tag in page.tags %}
            <a class="tag" href="{{ site.baseurl }}/archive.html?tag={{ tag | url_encode }}" title="{{ tag }}">{{ tag
                }}</a>
            {% endfor %}

    </div>

    <div class="container">
        {% if page.toc == "inline" %}
        <div>
            {% include toc.html html=content class='toc' h_max=3 %}
        </div>
        {% endif %}
        {% if page.toc != false and page.toc != "inline"%}
        <div id="table-of-contents">
            {% include toc.html html=content class='toc' h_max=3 %}
        </div>
        {% endif %}
        <div id="markdown-content" class = "line-numbers">

            <!-- custom banner -->
            {% if page.banner-title%}
            <div class="d-flex banner">
                <img src="/assets/img/banner.gif" class="black-white-image p-2 flex-fill bd-highlight banner-image">
                <div class="p-2 flex-fill bd-highlight ">
                    <h1 class="banner-text">{{page.banner-title}}</h1>
                    <p class="banner-text">{{page.banner-subtitle}}</p>
                </div>
            </div>
            {%endif%}
            <!-- custom banner -->
            <!-- expired banner -->
            {% capture post_date%}{{ page.date | date: "%Y" }}{%endcapture%}
            {% capture curr_date%}{{ "now" | date: "%Y" }}{%endcapture%}
            {% assign curr_date = curr_date | minus: post_date %}
            {% capture time %}{{curr_date|minus: post_date}}{%endcapture%}
            {% if curr_date>1 %}
                {% unless page.never-expired %}
                <div class="d-flex banner">
                    <img src="/assets/img/banner.gif" class="warning-image p-2 flex-fill bd-highlight banner-image">
                    <div class="p-2 flex-fill bd-highlight ">
                        <h1 class="banner-text" style="color: #e83e8c !important;"><i class="fa fa-exclamation-triangle"
                                style="color: #e83e8c !important;font-size: 2.5rem;" aria-hidden="true"></i> Expired</h1>
                        <p class="banner-text">Post published over one year ago</p>
                    </div>
                </div>
                {% endunless %}
            {%endif%}

            <!-- expired banner -->
            <!-- WIP banner -->
            {%if page.status == "WIP"%}
            <div class="d-flex banner">
                <img src="/assets/img/banner.gif" class="black-white-image p-2 flex-fill bd-highlight banner-image">
                <div class="p-2 flex-fill bd-highlight ">
                    <h1 class="banner-text">Work in progress</h1>
                    <p class="banner-text"><i class="fa fa-spinner" aria-hidden="true"></i>This post will be updated
                        soon</p>
                </div>
            </div>
            {%endif%}
            <!-- WIP banner -->

            {{ content }}
        </div>

    </div>
    <script type="text/javascript">
        Prism.plugins.filterHighlightAll.add(function (env) {
            return env.language !== 'mermaid';
        });

        function initSidebar() {
          // var sidebarLength = $('.sidebar_catelog').width();
          var titleHeight = $('.home-message__ttl').height();
          //move sidebar to right:
          $('.sidebar_catelog').css("margin-left", $('#markdown-content').width() + 50);
          //for everything in this html will be in a layout with left/right marging, set negetive margin to let sidebar break this border.
          $('.sidebar_catelog').css("margin-right", "-200px");
          //replace content into toc.
          $('.sidebar_catelog').html($('#table-of-contents').html());
          //hide origin toc on the head of the article.
          $('#table-of-contents').css("visibility", "hidden");
          $('#markdown-content').css("margin-top", -$("#table-of-contents").height()*1);//###########################This is in experiment##############
          //because sidebar is a stiky-top class,set a wedge to creat space between it to the top.
          $('.sidebar_catelog').prepend("<div class='wedge'></div>")
          $('.wedge').css("height", "250px");
          //for the first wedge will create space for every component, use negetive margin to rise toe content:
          $('.main-body').css("margin-top",  -($("#table-of-contents").height()+250));
          //for the last rising operation will make footer in wrong place, set another wedge to fix it.
          $('.js-fadein').append("<section class='wedge-main'></section>");
          $('.wedge-main').css("height", "250px");
      
      
          //$('.sidebar_catelog').find("li").addClass('toc');
          //alert($('#table-of-contents').find("a").html());
      
        }
      
        // function shiftBanner() {
        //   let shift = ($(".home-message").outerWidth(true) - $(".home-message").outerWidth()) / 2;
        //   $('#banner').css("left", -shift + "px");
        //   console.log("shift:" + shift);
        // }
      
        /*Riino learnt this from https://creeperdance.github.io/2017/05/jekyll-catalog.html
        */
        function locateCatelogList() {
          var alis = $('#markdown-content :header');
          var sidebar_alis = $('.sidebar_catelog').find('a');
          var scroll_height = $(window).scrollTop();
          for (var i = 0; i < alis.length; i++) {
            var a_height = $(alis[i]).offset().top;
            if (a_height < scroll_height) {
              sidebar_alis.removeClass('list_click');
      
              $(sidebar_alis[i]).addClass('list_click');
      
            }
          }
        }
      
        $(function () {
          // $('img').css('width',$('#table-of-contents').width())
          // shiftBanner();
          $('#table-of-contents').find("li").addClass('toc');
      
          if (typeof $('.sidebar_catelog').html() === 'undefined' || $(window).width() < 1000) {
            console.log("[POST] toc disabled");
            $('.container').prepend('<section style="height: 50px;"></section>');
            $('#front-wedge').css('height', 100);
          }
          else {
            initSidebar();
      
            $(window).bind('scroll', locateCatelogList);
          }
          //$('#table-of-contents').find('a').css('color', 'black');
      
          //marmaid
          // mermaid.init(undefined, $('.language-mermaid'));
          $('.language-mermaid').parent().css('text-align','center');
      
      
        });
      
      
      </script>
</section>
